services:
  redis:
    image: redis:7.4.2-alpine
    ports:
      - "6379:6379"
    command: [ "redis-server" ]
    networks:
      - redis-network
    volumes:
      - redis_volume_data:/data
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka:2.12-2.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  redis-network:
    driver: bridge

volumes:
  redis_volume_data:
  redis_insight_volume_data: